* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ecf0f1;
}

body {
    background-color: #34495e;
}

#uploadExcelFile {
    display: none !important;
}

.text-inform {
    top: 25px;
}